<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

<div class='box1'>
    <div class="toptab">
        <div class='tab tab1 active'>
            All
        </div>
        <div class='tab'>
            Tab
        </div>
        <div class='tab tab3'>
            Tab
        </div>
    </div>
    
    
    <div class='scrollable'>
        <div class="leftsidebar_menus">
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
        </div>
    </div>
    <div class='btn'>Open Main Customer List</div>
</div>

