.bodydiv {
  width: 100%;
}

img {
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
table {
  width: 100%;
}
tr {
  background-color: #edeeef;
}

.modalpreview {
  width: 579px !important;
  height: 336px !important;
  max-width: 579px !important;
  max-height: 336px !important;
}

tr:nth-child(odd) {
  background-color: #07b9ec;
}
td {
  text-align: left;
  font: normal normal normal 11px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 1;
  padding-top: 0.54%;
  padding-bottom: 0.54%;
}
th {
  height: 5.20833%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #001f38;
  text-align: left;
  font: normal normal normal 12px "Open Sans";
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.t1 {
  width: 4%;
  text-align: center;
}
.t6 {
  width: 4%;
  text-align: center;
}

.t2 {
  width: 37.5%;
  padding-left: 1%;
}

.t3 {
  width: 37.5%;
  padding-left: 1%;
}

.t4 {
  width: 37.5%;
  padding-left: 1%;
}

.t5 {
  width: 21%;
  padding-left: 1%;
}

hr {
  background-color: transparent;
  height: 0.4%;
  padding: 0px;
  margin: 0px;
}

.space {
  padding-left: 4%;
}

.edit {
  margin-left: 0px;
  right: 0;
}

.hideedit {
  display: none;
}

.export {
  padding: 0px;
  margin: 0px;
}

.updatedata {
  width: 90%;
  border-radius: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #9ea8af;
  opacity: 1;
}

.hideupdatedata {
  display: none;
}

.hideupdate {
  display: none;
}

.update {
  display: inline-block;
  width: 90%;
}

p {
  margin: 0px;
  padding: 0px;
}
.check {
  margin-left: 0px;
  right: 0;
}

.hidecheck {
  display: none;
}

nav {
  width: 100%;
  height: 5.239%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  background: #d9dde1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logoimg {
  height: 90%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.midtext {
  padding: 5px 0px 9px 161px;
  text-align: left;
  font: normal normal normal 13px "Open Sans";
  letter-spacing: -0.23px;
  opacity: 1;
}

.lefttext {
  padding: 10px 0px 10px 10px;
  text-align: left;
  font: normal normal normal 11px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 1;
}

.size {
  padding: 2px 11px 2px 11px;
  height: 23px;
  border: 1px solid #07b9ec;
  border-radius: 3px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 13px "Open Sans";
  letter-spacing: 0px;
  opacity: 1;
}
.marg {
  margin-right: 11px;
}

.rightbutton {
  margin-right: 11px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.modal-content {
  position: relative;
  border-radius: 5px !important;
  width: 579px;
  height: 407px;
  max-width: 579px;
  max-height: 407px;
  background: #edeeef 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #aab1b7;
  border: 1px solid #ffffff;
}
.modal-dialog-centered {
  width: 579px;
  height: 407px;
  max-width: 579px;
  max-height: 407px;
}
.col {
  border: 1px solid #707070;
}

.b1 {
  text-align: center;
  letter-spacing: -0.41px;
  color: #ffb92c;
  opacity: 1;
}

.b2 {
  text-align: center;
  letter-spacing: -0.41px;
  color: #07b9ec;
  opacity: 1;
}

.btn1 {
  padding: 0px;
  width: 125px;
  padding: 4px 0px 4px 0px;
  background: #07b9ec 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal normal 12px "Open Sans";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.btnspace {
  padding-left: 10%;
}
.btn2 {
  padding: 0px;
  width: 65px;
  padding: 4px 0px 4px 0px;
  background: #07b9ec 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal normal 12px "Open Sans";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.showbtn2 {
  padding: 0px;
  width: 65px;
  border: 1px solid #07b9ec;
  padding: 4px 0px 4px 0px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal normal 12px "Open Sans";
  letter-spacing: 0px;
  color: #07b9ec;
  opacity: 1;
}

.subli2 {
  margin-left: 6px;
  margin-right: 8px;
  padding: 3px;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  opacity: 0.8;
  cursor: default;
}
.subli2:hover {
  color: #07b9ec;
}
.list2 {
  position: absolute;
  padding-top: 5px;
  box-shadow: 0px 0px 3px var(--unnamed-color-a8b1b8);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 260px;
  right: 22px;
  top: 49px;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  margin-top: 6px;
  z-index: 4;
}
.hidelist2 {
  display: none;
}
.paddinglist {
  padding-bottom: 5px;
}
.edit1 {
  position: absolute;
  margin-left: 0px;
  right: 8px;
  top: 10.242px;
}

.hideedit1 {
  display: none;
}

.img1 {
  position: relative;
}

.check1 {
  position: absolute;
  margin-left: 0px;
  right: 8px;
  top: 10.242px;
}

.hidecheck1 {
  display: none;
}

.subli3 {
  margin-left: 6px;
  margin-right: 8px;
  padding: 3px;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  opacity: 0.8;
  cursor: default;
}
.list3 {
  padding-top: 5px;
  box-shadow: 0px 0px 3px var(--unnamed-color-a8b1b8);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 45%;
  left: 1.5%;
  top: 59%;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  margin-top: 6px;
  z-index: 4;
}
.subli3:hover {
  color: #07b9ec;
}

.hidelist3 {
  display: none;
}

.subli4 {
  margin-left: 6px;
  margin-right: 8px;
  padding: 3px;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  opacity: 0.8;
  cursor: default;
}
.list4 {
  padding-top: 5px;
  box-shadow: 0px 0px 3px var(--unnamed-color-a8b1b8);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 45%;
  left: 53.57%;
  top: 59%;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  margin-top: 6px;
  z-index: 4;
}
.subli4:hover {
  color: #07b9ec;
}

.hidelist4 {
  display: none;
}

.subli5 {
  margin-left: 6px;
  margin-right: 8px;
  padding: 3px;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  opacity: 0.8;
  cursor: default;
}
.list5 {
  padding-top: 5px;
  box-shadow: 0px 0px 3px var(--unnamed-color-a8b1b8);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  width: 45%;
  left: 1.5%;
  top: 78%;
  text-align: left;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  margin-top: 6px;
  z-index: 4;
}
.subli5:hover {
  color: #07b9ec;
}

.hidelist5 {
  display: none;
}

.edit2 {
  height: 15px;
  position: absolute;
  right: -40%;
  top: 17%;
}
.dayinput {
  height: 28px;
  width: 80%;
  border: none;
  box-shadow: 0px 0px 3px var(--unnamed-color-a8b1b8);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  opacity: 1;
}

.nodayinput {
  height: 28px;
  width: 30%;
  border: none;
  text-align: center;
  font: normal normal bold 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  box-shadow: 0px 0px 3px var(--unnamed-color-a8b1b8);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  opacity: 1;
}

.daylable {
  width: 84%;
}

.subli1checkbox {
  border-color: #07b9ec;
  width: 13px;
  height: 13px;
  outline-style: none;
  box-shadow: none;
  background-color: transparent;
}
.form-check-input.subli1checkbox:checked {
  background-color: #07b9ec;
  border: none;
  width: 13px;
  height: 13px;
  background: transparent url("../../../../../../assets/checkedboxblue.svg") 0%
    0% no-repeat padding-box;
}
.form-check-input {
  margin-top: 0px;
}

.form-check-input.subli1checkbox:hover {
  background-color: #07b9ec;
}
.form-check-input.subli1checkbox:checked:hover {
  opacity: 0.75;
}

.hide {
  display: none;
}

.spaceheight {
  margin-top: 16px;
}
.spaceheight1 {
  margin-top: 15px;
}
.spaceheight2 {
  margin-top: 20px;
}
.modal-titlecreate {
  padding-top: 8px;
  padding-left: auto;
  padding-right: auto;
  border: none;
  text-align: center;
  font: normal normal 600 18px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 0px;
  color: #001f38;
  opacity: 1;
}
.modal-contentcreate {
  position: relative;
  border-radius: 5px !important;
  border: none;
  width: 579px;
  height: 407px;
  background: #edeeef 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #aab1b7;
  border: 1px solid #ffffff;
  opacity: 1;
}
.bottombutton {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 41px;
  border-top: 1px solid #c6c6c8;
}

.bottombutton1 {
  padding-bottom: 8.5px;
  padding-top: 8.5px;
  width: 50%;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
  opacity: 1;
  border-right: 1px solid #c6c6c8;
}
.bottombutton1:hover {
  padding-bottom: 7px;
  padding-top: 7px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.bottombutton2 {
  padding-bottom: 8.5px;
  padding-top: 8.5px;
  width: 50%;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #a8b1b8;
  opacity: 1;
}

.bottombutton3 {
  padding-bottom: 8.5px;
  padding-top: 8.5px;
  width: 50%;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #ffb92c;
  opacity: 1;
  border-right: 1px solid #c6c6c8;
}
.bottombutton3:hover {
  padding-bottom: 7px;
  padding-top: 7px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.bottombutton4 {
  padding-bottom: 8.5px;
  padding-top: 8.5px;
  width: 50%;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
  opacity: 1;
}
.bottombutton4:hover {
  padding-bottom: 7px;
  padding-top: 7px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}

.edit1:hover {
  content: url("../../../../../../assets/arrow-downblue.svg");
}
.check1:hover {
  content: url("../../../../../../assets/arrow-upblue.svg");
}
.createbody {
  padding: 0px;
  width: 579px;
  padding-left: 15px;
}

.modalcreate {
  width: 579px;
}

.cnamelable {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-bottom: 5px;
  width: 95%;
}
.cpnamelable {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-left: 5px;
}
.cpnamelable1 {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-left: 44px;
}
.cpnamelable2 {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-left: 61px;
}
.cpnamelable3 {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-left: 83px;
}
.cpnamelable4 {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-left: 15px;
}
.cpnamelable5 {
  text-align: left;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  opacity: 0.6;
  padding-left: 10px;
}
.pnamelable {
  padding-left: 30px;
  text-align: left;
  font: normal normal 600 14px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  opacity: 1;
}
.pnamelable1 {
  padding-left: 14px;
  text-align: left;
  font: normal normal 600 14px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  opacity: 1;
}
.cnameinput {
  height: 28px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  opacity: 1;
  width: 544px;
  text-align: left;
  letter-spacing: 0px;
  color: #001f38 !important;
  font: normal normal 600 14px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-fill-color: #001f38 !important;
  outline: none;
  text-transform: capitalize;
  border-radius: 3px;
  padding-left: 10px;
}

.row {
  --bs-gutter-x: 0rem !important;
}
.cdayinput {
  cursor: default;
  height: 28px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  opacity: 1;
  width: 260px;
  text-align: left;
  font: normal normal 600 14px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-fill-color: #001f38 !important;
  letter-spacing: 0px;
  color: #001f38 !important;
  outline: none;
  text-transform: capitalize;
  border-radius: 3px;
  padding-left: 10px;
}
.col1 {
  width: 50%;
  padding: 0px;
  margin: 0px;
  border: none;
  text-align: left;
  position: relative;
}

.col2 {
  width: 579px;
  padding: 0px;
  margin: 0px;
}

.cdayinputnumber {
  width: 70px;
  height: 28px;
  background: #edeeef 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 3px #a8b1b8;
  border: 1px solid #bbbbbb;
  opacity: 1;
  border-radius: 3px;
  font: normal normal 600 14px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-fill-color: #001f38 !important;
  letter-spacing: 0px;
  color: #001f38 !important;
  text-align: center;
}
.cbottombutton {
  position: absolute;
  bottom: 0px;
  height: 37px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid rgb(7, 185, 236, 0.2);
  background: rgb(255, 255, 255, 0.5) 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 5px 5px;
}
.modal {
  background: rgb(0, 31, 56, 0.75) 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  cursor: default;
}

.closebtn {
  padding-top: 6px;
  padding-bottom: auto;
  width: 120px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
  border-right: 1px solid rgb(7, 185, 236, 0.2);
}
.closebtn:hover {
  padding-top: 5px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.pclosebtn {
  padding-top: 6px;
  padding-bottom: auto;
  width: 130px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
  border-right: 1px solid rgb(7, 185, 236, 0.2);
}
.pclosebtn:hover {
  padding-top: 5px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.pcreatebtn {
  padding-top: 6px;
  padding-bottom: auto;
  width: 140px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
  border-left: 1px solid rgb(7, 185, 236, 0.2);
}
.pcreatebtn:hover {
  padding-top: 5px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.ccreatebtn {
  padding-top: 6px;
  padding-bottom: auto;
  width: 140px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
  border-left: 1px solid rgb(7, 185, 236, 0.2);
}
.ccreatebtn:hover {
  padding-top: 5px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.cpreviewbtn {
  padding-top: 6px;
  padding-bottom: auto;
  width: 130px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #07b9ec;
}
.cpreviewbtn:hover {
  padding-top: 5px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.ccreatebtn1 {
  padding-top: 6px;
  padding-bottom: auto;
  width: 140px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #a8b1b8;
  border-left: 1px solid rgb(7, 185, 236, 0.2);
}

.cpreviewbtn1 {
  padding-top: 6px;
  padding-bottom: auto;
  width: 130px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  color: #a8b1b8;
}
.clobtn {
  padding-top: 6px;
  padding-bottom: auto;
  width: 120px;
  text-align: center;
  font: normal normal normal 17px "Open Sans";
  letter-spacing: -0.41px;
  border-right: 1px solid rgb(7, 185, 236, 0.2);
  color: #ffb92c;
}
.clobtn:hover {
  padding-top: 5px;
  font: normal normal 600 19px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.subli1 {
  height: 14px;
  margin-left: 10px;
  margin-bottom: 5px;
  opacity: 1;
  cursor: default;
}

.subli1text {
  text-align: left;
  height: 14px;
  font: normal normal normal 10px "Open Sans";
  letter-spacing: 0px;
  color: #001f38;
  text-transform: capitalize;
  margin-left: 5px;
  display: inline-block;
}

.vcanbtn {
  padding: 0px;
  margin-top: 4.5px;
  text-align: center;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: -0.34px;
  color: #07b9ec;
  opacity: 1;
  box-shadow: none;
}

.vcanbtn:hover {
  margin-top: 2.5px;
  font: normal normal 600 16px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}

.appbtn {
  padding: 0px;
  margin-top: 4.5px;
  text-align: center;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: -0.34px;
  color: #07b9ec;
  opacity: 1;
  box-shadow: none;
}
.appbtn2 {
  padding: 0px;
  margin-top: 4.5px;
  text-align: center;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: -0.34px;
  color: #a8b1b8;
  opacity: 1;
  box-shadow: none;
}
.appbtn:hover {
  margin-top: 2.5px;
  font: normal normal 600 16px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.vappbtn {
  padding: 0px;
  margin-top: 4.5px;
  text-align: center;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: -0.34px;
  color: #07b9ec;
  opacity: 1;
  box-shadow: none;
}
.vappbtn2 {
  padding: 0px;
  margin-top: 4.5px;
  text-align: center;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: -0.34px;
  color: #a8b1b8;
  opacity: 1;
  box-shadow: none;
}
.vappbtn:hover {
  margin-top: 2.5px;
  font: normal normal 600 16px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}

.vclobtn {
  padding: 0px;
  margin-top: 4.5px;
  text-align: center;
  font: normal normal normal 14px "Open Sans";
  letter-spacing: -0.34px;
  color: #ffb92c;
  opacity: 1;
  box-shadow: none;
}
.vclobtn:hover {
  margin-top: 2.5px;
  font: normal normal 600 16px "Open Sans";
  -webkit-font-smoothing: antialiased !important;
}
.btnli {
  padding: 0px;
  padding-top: 5px;
}

div {
  padding: 0px;
}

.rowbtn {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.colbtn {
  padding: 0px;

  max-width: 50%;
  width: 50%;
  text-align: center;
  border-top: 0.5px solid rgb(7, 185, 236, 0.2);
}
.colbtn1 {
  padding: 0px;

  max-width: 50%;
  width: 50%;
  text-align: center;
  border-top: 0.5px solid rgb(7, 185, 236, 0.2);
  border-left: 0.5px solid rgb(7, 185, 236, 0.2);
}

.row1 {
  display: flex;
  flex-direction: row;
}
