.contbody {
    height: 100%;
    width: 100%;
    min-width: 1366px;
    overflow: hidden;
}
.row {
    margin: 0px;
    padding: 0px;
}
.row1 {
    height: 100px;
    width: 100%;
    background-color: #001F38;

}

.row2 {
    width: 100%;
    height: calc(100% - 100px);
}
.col-1 {
    width: 200px;
    margin: 0px;
    padding: 0px;
    height:100px;
    background-color: #fff !important;
}


.col-2 {
    width:calc(100% - 200px);
    margin: 0px;
    padding: 0px;
    background-color: #001F38;
    height:100px;
    box-shadow: 0px 2px 3px #A8B1B8;
    z-index: 2;
}
.col1 {
    width: 200px;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    height: calc(100% - 101px);
    background-color: #001F38;
    box-shadow: 2px 0.5px 3px #A8B1B8;
}
.col2 {
    width: calc(100% - 200px);
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    height: calc(100% - 100px);
    background: #EDEEEF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000000A;
}
div {
    margin: 0px;
    padding: 0px;
}
.profile {
    margin: 0px;
    padding: 0px;
    width: 194px;
height: 60px;
}
.profileicon {
    margin: 0px;
    padding: 20px 3px 0px 3px;
    width: 100%;
}


.profiletag {
    margin:0px;
    padding: 0px 24px 2px 24px;
    text-align: center;
font: normal normal bold 14px 'Open Sans';
letter-spacing: 0px;
color: #001F38;
text-transform: uppercase;
opacity: 1;
}




hr {
    background-color: white;
    height: 1px;
    padding: 0px;
    margin: 0px;
}

.body {
    margin: 8px 8px;
      padding: 0px;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      background: #D9DDE1 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 4px #00000017;
      border-radius: 5px;
  opacity: 1;
  }
  


  .maxcol2 {
      width:calc(100% - 49px);
  }

  .maxcol1 {
      width: 49px;
  }
.subbody {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/* Resposive Width */
/* @media screen and (max-width:3840px){ 
    .col-2 {
        width: 94.75%;
    }
    
    .col2 {
        width: 94.75%;
    }
    .maxcol2 {
        width:98.64%;
    }
    
    .subbody {
        width: 99.4%;
    }    
}


@media screen and (min-width:3200px) and (max-width:3839px){
.col-2 {
    width: 93.7%;
}

.col2 {
    width: 93.7%;
}
.maxcol2 {
    width:98.35%;
}

.subbody {
    width: 99.4%;
} 
}

@media screen and (min-width:2560px) and (max-width:3199px) { 
    .col-2 {
        width: 92.1%;
    }
    
    .col2 {
        width: 92.1%;
    }
    .maxcol2 {
        width:98.05%;
    }
    
    .subbody {
        width: 99.1%;
    } 
}

@media screen and (min-width:2048px) and (max-width:2559px) { 
    .col-2 {
        width: 90.2%;
    }
    
    .col2 {
        width: 90.2%;
    }
    .maxcol2 {
        width:97.55%;
    }
    
    .subbody {
        width: 99%;
    }   
}

@media screen and (min-width:1920px) and (max-width:2047px){ 
    .col-2 {
        width: 89.5%;
    }
    
    .col2 {
        width: 89.5%;
    }
    .maxcol2 {
        width:97.35%;
    }
    
    .subbody {
        width: 98.85%;
    }   
}

@media screen and (min-width:1856px) and (max-width:1919px){ 
    .col-2 {
        width: 89.2%;
    }
    
    .col2 {
        width: 89.2%;
    }
    .maxcol2 {
        width:97.3%;
    }
    
    .subbody {
        width: 98.8%;
    }  
}

@media screen and (min-width:1792px) and (max-width:1855px){ 
    .col-2 {
        width: 88.76%;
    }
    
    .col2 {
        width: 88.76%;
    }
    .maxcol2 {
        width:97.2%;
    }
    
    .subbody {
        width: 98.8%;
    }  
}

@media screen and (min-width:1680px) and (max-width:1791px){ 
    .col-2 {
        width: 88%;
    }
    
    .col2 {
        width: 88%;
    }
    .maxcol2 {
        width:97%;
    }
    
    .subbody {
        width: 98.7%;
    }  
}

@media screen and (min-width:1600px) and (max-width:1679px){ 
    .col-2 {
        width: 87.5%;
    }
    
    .col2 {
        width: 87.5%;
    }
    .maxcol2 {
        width:96.85%;
    }
    
    .subbody {
        width: 98.7%;
    }  
}

@media screen and (min-width:1440px) and (max-width:1599px){ 
    .col-2 {
        width: 86%;
    }
    
    .col2 {
        width: 86%;
    }
    .maxcol2 {
        width:96.5%;
    }
    
    .subbody {
        width: 98.65%;
    }  
}

@media screen and (min-width:1400px) and (max-width:1439px){ 
    .col-2 {
        width: 85.7%;
    }
    
    .col2 {
        width: 85.7%;
    }
    .maxcol2 {
        width:96.34%;
    }
    
    .subbody {
        width: 98.5%;
    }  
}

@media screen and (min-width:1366px) and (max-width:1399px){ 
    .col-2 {
        width: 85.27%;
    }
    
    .col2 {
        width: 85.27%;
    }
    .maxcol2 {
        width:96.4%;
    }
    
    .subbody {
        width: 98.5%;
    }  
}

@media screen and (min-width:1360px) and (max-width:1365px){ 
    .col-2 {
        width: 85.2%;
    }
    
    .col2 {
        width: 85.2%;
    }
    .maxcol2 {
        width:96.3%;
    }
    
    .subbody {
        width: 98.5%;
    }  
}
@media screen and (min-width:1280px) and (max-width:1359px){ 
    .col-2 {
        width: 84.3%;
    }
    
    .col2 {
        width: 84.3%;
    }
    .maxcol2 {
        width:96.1%;
    }
    
    .subbody {
        width: 98.4%;
    }  
}

 */

/* Responsive Height */

/* @media screen and (min-height:2160px) { 
.col1 {
    height: 95.2vh;
}
.col2 {
    height: 95.2vh;
}

.row2 {
    height: 95.2vh;
}
    
.body {
    height: 95.2vh;
}
      
.subbody {
    height: 94.4vh;
}  
}

@media screen and (min-height:2048px) and (max-height:2159px) { 
    .col1 {
        height: 95vh;
    }
    .col2 {
        height: 95vh;
    }
    
    .row2 {
        height: 95vh;
    }
        
    .body {
        height: 95vh;
    }
          
    .subbody {
        height: 94vh;
    }  
}

@media screen and (min-height:2000px) and (max-height:2047px) { 
    .col1 {
        height: 95vh;
    }
    .col2 {
        height: 95vh;
    }
    
    .row2 {
        height: 95vh;
    }
        
    .body {
        height: 95vh;
    }
          
    .subbody {
        height: 94vh;
    } 
}

@media screen and (min-height:1920px) and (max-height:1999px) { 
    .col1 {
        height: 94.6vh;
    }
    .col2 {
        height: 94.6vh;
    }
    
    .row2 {
        height: 94.6vh;
    }
        
    .body {
        height: 94.6vh;
    }
          
    .subbody {
        height: 94vh;
    } 
}

@media screen and (min-height:1600px) and (max-height:1919px) { 
    .col1 {
        height: 93.6vh;
    }
    .col2 {
        height: 93.6vh;
    }
    
    .row2 {
        height: 93.6vh;
    }
        
    .body {
        height: 93.6vh;
    }
          
    .subbody {
        height: 92.4vh;
    } 
}

@media screen and (min-height:1532px) and (max-height:1599px) { 
    .col1 {
        height: 93.4vh;
    }
    .col2 {
        height: 93.4vh;
    }
    
    .row2 {
        height: 93.4vh;
    }
        
    .body {
        height: 93.4vh;
    }
          
    .subbody {
        height: 92vh;
    }  
}

@media screen and (min-height:1440px) and (max-height:1531px) { 
    .col1 {
        height: 92vh;
    }
    .col2 {
        height: 92vh;
    }
    
    .row2 {
        height: 92vh;
    }
        
    .body {
        height: 92vh;
    }
          
    .subbody {
        height: 91.6vh;
    }  
}

@media screen and (min-height:1392px) and (max-height:1439px) { 
    .col1 {
        height: 92vh;
    }
    .col2 {
        height: 92vh;
    }
    
    .row2 {
        height: 92vh;
    }
        
    .body {
        height: 92vh;
    }
          
    .subbody {
        height: 91.6vh;
    }   
}

@media screen and (min-height:1344px) and (max-height:1391px) { 
    .col1 {
        height: 92vh;
    }
    .col2 {
        height: 92vh;
    }
    
    .row2 {
        height: 92vh;
    }
        
    .body {
        height: 92vh;
    }
          
    .subbody {
        height: 91.2vh;
    }  
}

@media screen and (min-height:1200px) and (max-height:1343px) { 
    .col1 {
        height: 90.8vh;
    }
    .col2 {
        height: 90.8vh;
    }
    
    .row2 {
        height: 90.8vh;
    }
        
    .body {
        height: 90.8vh;
    }
          
    .subbody {
        height: 89.6vh;
    }  
}

@media screen and (min-height:1152px) and (max-height:1199px) { 
    .col1 {
        height: 90.8vh;
    }
    .col2 {
        height: 90.8vh;
    }
    
    .row2 {
        height: 90.8vh;
    }
        
    .body {
        height: 90.8vh;
    }
          
    .subbody {
        height: 89.1vh;
    }  
}

@media screen and (min-height:1080px) and (max-height:1151px) { 
    .col1 {
        height: 90.6vh;
    }
    .col2 {
        height: 90.6vh;
    }
    
    .row2 {
        height: 90.6vh;
    }
        
    .body {
        height: 90.6vh;
    }
          
    .subbody {
        height: 88.6vh;
    }  
}

@media screen and (min-height:1050px) and (max-height:1079px) { 
    .col1 {
        height: 90.2vh;
    }
    .col2 {
        height: 90.2vh;
    }
    
    .row2 {
        height: 90.2vh;
    }
        
    .body {
        height: 90.2vh;
    }
          
    .subbody {
        height: 88.2vh;
    }  
}

@media screen and (min-height:1024px) and (max-height:1049px) { 
    .col1 {
        height: 90.2vh;
    }
    .col2 {
        height: 90.2vh;
    }
    
    .row2 {
        height: 90.2vh;
    }
        
    .body {
        height: 90.2vh;
    }
          
    .subbody {
        height: 88.2vh;
    } 
}

@media screen and (min-height:960px) and (max-height:1023px) { 
    .col1 {
        height: 89.4vh;
    }
    .col2 {
        height: 89.4vh;
    }
    
    .row2 {
        height: 89.4vh;
    }
        
    .body {
        height: 89.4vh;
    }
          
    .subbody {
        height: 87vh;
    } 
}

@media screen and (min-height:900px) and (max-height:959px) { 
    .col1 {
        height: 88.8vh;
    }
    .col2 {
        height: 88.8vh;
    }
    
    .row2 {
        height: 88.8vh;
    }
        
    .body {
        height: 88.8vh;
    }
          
    .subbody {
        height: 86.6vh;
    } 
}

@media screen and (min-height:864px) and (max-height:899px) { 
    .col1 {
        height: 87.8vh;
    }
    .col2 {
        height: 87.8vh;
    }
    
    .row2 {
        height: 87.8vh;
    }
        
    .body {
        height: 87.8vh;
    }
          
    .subbody {
        height: 85.4vh;
    } 
}

@media screen and (min-height:800px) and (max-height:863px) { 
    .col1 {
        height: 87.2vh;
    }
    .col2 {
        height: 87.2vh;
    }
    
    .row2 {
        height: 87.2vh;
    }
        
    .body {
        height: 87.2vh;
    }
          
    .subbody {
        height: 84.4vh;
    } 
}

@media screen and (min-height:768px) and (max-height:799px) { 
    .col1 {
        height: 86w.4vh;
    }
    .col2 {
        height: 86.8vh;
    }
    
    .row2 {
        height: 86.8vh;
    }
        
    .body {
        height: 86.8vh;
    }
          
    .subbody {
        height: 84.4vh;
    } 
}

@media screen and (min-height:720px) and (max-height:767px) { 
    .col1 {
        height: 84.8vh;
    }
    .col2 {
        height: 84.8vh;
    }
    
    .row2 {
        height: 85.8vh;
    }
        
    .body {
        height: 85.8vh;
    }
          
    .subbody {
        height: 83vh;
    } 
} */



