.dialogbox {
    background-color: #edeeef;
    width: 40vw;
    box-shadow: 0px 0px 16px #e0e2e4;
  }
  .form-group {
    margin-top: 4vh;
    font: normal normal normal 11px "Open Sans";
    letter-spacing: 0px;
    color: #001f38;
    opacity: 1;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .actionbtn {
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    border-top: 2px solid rgb(0, 174, 255);
  }
  .cancel {
    font-size: 1.2rem;
    color: rgb(8, 174, 240);
    border-right: 2px solid #d6d6d6;
    padding: .7rem;
  }
  .submit {
    font-size: 1.2rem;
    border-left: 2px solid #d6d6d6;
    padding: .7rem;
  
  }
  .submit:enabled{
    color: rgb(8, 174, 240);
  }
  
  
  