
    <footer class="footer">
        <div >
            <button class="btn b1">SHOW 20 <img src="./assets/Arrow.svg" class="exp"></button>
        </div>
        <div class="b5">
            SHOWING 1 - {{works.length}} OF {{works.length}} RESULTS
        </div>
        <div class="b6">

        </div>
        <div>
            <button class="btn btn-primary b2">Save</button>
        </div>
        <div>
            <button class="btn btn-primary b3">Save & Next</button>
        </div>
        <div>
            <button class="btn btn-primary b4">Save & Close</button>
        </div>
    </footer>
