<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

<div class='box1'>
    <div class="toptab">
        <div class='tab tab1'>
            My Tasks
        </div>
        <div class='tab'>
            To Be Done
        </div>
        <div class='tab tab3'>
            Upcoming
        </div>
    </div>
    <div class='timeline'>
        Febuary 07, 2021 to March 13, 2021
    </div>
    <div class='scrollable'>
        <div class="leftsidebar_menus">
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
            <div class='wblock'></div>
        </div>
    </div>
    <div class='btn'>Open Main Task List</div>
</div>